@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 3rem auto;
    text-align: center;
}

h1 {
    color: #FF6B6B;
    font-size: 2.5rem; 
    margin-bottom: 1.5rem;
}

p {
    font-size: 1.1rem;
    color: #333;
    margin-top: 1rem;
}


.pets-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.pets-table th, .pets-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.pets-table th {
    background-color: #FFCCCB;
    font-size: 1.2rem;
}

.pets-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pets-table tr:hover {
    background-color: #ffe0e0;
    transition: background-color 0.3s ease-in-out;
}

.pets-table td span {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    display: inline-block;
}


form {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

label {
    font-size: 1.2rem;
    color: #333;
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"] {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #FF6B6B;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #FF4F4F;
}

.error {
    margin-bottom: 1.5rem;
    color: red;
}

.link {
    color: #FF6B6B;
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.link:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    background-color: #FF6B6B;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #FF4F4F;
}
